* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
}

#bgVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%); 
    object-fit: cover;
    opacity: 0.8;
}

.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1.5px solid rgba(184, 166, 75, 0.6); 
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.nav-container {
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: flex-end;
}

.nav-links a {
    color: #b8a64b;
    text-decoration: none;
    margin-left: 30px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: white;
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;
    width: 100%;
    text-align: center;      
}

.hero-text {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;     
    gap: 30px; 
}

.brand-title {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3); 
}

.brand-title .script {
    font-family: 'Great Vibes', cursive;
    font-size: 160px;
    color: #b8a64b;
    line-height: 0.7;
    display: block;
}

.brand-title .main-title {
    font-family: 'Cormorant Garamond', serif; 
    font-size: 110px;
    color: #b8a64b;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1; 
    letter-spacing: -2px;
    display: block;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.hero-buttons button {
    background: #c9b458;
    border: none;
    padding: 18px 45px; 
    border-radius: 35px;
    font-size: 18px;
    font-weight: 700;
    color: #222;
    cursor: pointer;
    box-shadow: 5px 5px 0px rgba(0,0,0,0.15);
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hero-buttons button:hover {
    transform: scale(1.08);
    background: #d4c374;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-top: 1.5px solid rgba(184, 166, 75, 0.6); 
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    padding: 20px 0;
    text-align: center;
}

.footer-content p {
    color: #ffffff;
    font-family: 'Cormorant Garamond', serif;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

